.button-login {
    -fx-background-color: #260842 ;
    -fx-text-fill: white;
    -fx-border-width: 1;
    -fx-font-size: 12px;
    -fx-padding: 5 0;
    -fx-cursor: hand;
    -fx-pref-width: 434;
}
.button-login:hover {
    -fx-background-color: #222222;
}
.button-login:pressed {
    -fx-background-color: #333333;
}
.button-register {
    -fx-background-color: #FFF9FE;
    -fx-border-color: #260842;
    -fx-border-width: 1;
    -fx-text-fill: #260842 ;
    -fx-font-size: 12px;
    -fx-padding: 5 0;
    -fx-cursor: hand;
    -fx-pref-width: 434;
}
.button-register:hover {
    -fx-background-color: #f5f5f5;
}
.login-background {
    -fx-background-color: #FFF9FE;
}

.text-field, .password-field {
    -fx-background-color: transparent;
    -fx-border-color: #cccccc;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 10 5 8 5;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}